<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center" class="s">{{scsmsg}}</div>
<br><br>
<div align="center" class="l"><a  href="/adminlog" target="_blank">Login</a></div>
<style>
    a:link {
  color: red;
}


a:visited {
  color: black;
}


a:hover {
  color: orangered;
}


a:active {
  color: blue;
}

.l{
    background: aqua;
    height: 100px;
}

.s{
    background: chocolate;
    height: 100px;
}

</style>

</body>
</html>