<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/signup.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename = 'style/style.css') }}">

</head>
<div class="ban"><h1><i>restro</i></h1></div>
<body class="bdy">


<nav style="background: indigo;">
    <a href="/home">Home</a> |
    <a href="/showitem">Show Item</a> |
    <a href="/booking">Booking</a> |
    <div align="right">
    <a href="/login">Log in</a> |
        <a href="/signup">Sign up</a> |
        </div>
 </nav>
<marquee>Sign up.....</marquee>

<div class="s1">
<div class="signup">

<form action="/registration" method="post">
    Userame:<br> <input type="text" name="name" ><br>
    {% if unameMsg == 1 %}
        <h5>Username must contain at least 8 character</h5><br>
    {% endif %}
    Password:<br> <input type="password" name="pass1"><br>
    Confirm Password:<br> <input type="password" name="pass2"><br>
    {% if passMsg == 1 %}
        <h5>Password Didn't Match</h5><br>
    {% endif %}
    email:<br> <input type="email" name="email"><br><br>
    <input type="submit" value="Register">
</form>

</div>
</div>


<div class="footer">
        <div class="container">
            <div class="row">

                <div class="footer-col-1">
                    <img src="{{url_for('static', filename='restro.jpg')}}" />
                    <p>Our goal is to satisfy you </p>
                </div>

                <div class="footer-col-2">
                    <h3>Download our app</h3>
                    <p>Download app for android or ios</p>
                </div>


                <div class="footer-col-3">
                    <h3>Follow</h3>
                    <li>facebook</li>
                    <li>blog</li>
                    <li>markating</li>
                    <li>privacy</li>
                </div>
                <div class="footer-col-3">
                    <h3>links</h3>
                    <li>facebook</li>
                    <li>twitter</li>
                    <li>google</li>
                    <li>youtube</li>
                </div>
            </div>
        </div>
    </div>


</body>
</html>